.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.nav-list{
  display: flex;
  flex-direction: row;
justify-content: space-around;
  width: 200px;
  list-style-type: none;
 

}
.navBar{
  background-color: #09d3ac !important;
  display: flex;
 
justify-content: space-around;
}
.dashboard-div{
  display:flex;
  justify-content: center;
}
.table{
  width: 80% !important;
  
}